/* Korrina Normal */
@font-face {
    font-family: 'Korinna';
    src: url('./fonts/Korinna.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Korrina Italic */
@font-face {
    font-family: 'KorrinaItalic';
    src: url('./fonts/KorinnaItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

/* Korrina Bold */
@font-face {
    font-family: 'KorinnaBold';
    src: url('./fonts/KorinnaBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* Korrina Bold Italic */
@font-face {
    font-family: 'KorinnaBoldItalic';
    src: url('./fonts/KorinnaBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
