/* Korrina Normal */
@font-face {
    font-family: 'Korrina';
    src: url('./fonts/KorinnaNormal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Korrina Italic */
@font-face {
    font-family: 'Korrina';
    src: url('./fonts/Korinna-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

/* Korrina Bold */
@font-face {
    font-family: 'Korrina';
    src: url('./fonts/KorinnaBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* Korrina Bold Italic */
@font-face {
    font-family: 'Korrina';
    src: url('./fonts/KorinnaBold-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
