.trebek {
    position: absolute;
    transition: transform 1s;
}

.trebek.sidle {
    transform: translateX(-100%);
}

.trebek.hide {
    transform: translateY(100%);
}

.trebek.pop-up {
    transform: translateY(0);
    animation: pop-up 0.5s ease-out;
}

@keyframes pop-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
} 